
body{
    /* background-color: #c8d8e4; */
    background-color: #303179;
}

.container{
    width:70%;
    margin: auto;
    font-family: sans-serif;
    /* margin-top: 200px; */
}

h2{
    font-family: 'PT Serif', serif;
    border-bottom: 2px solid saddlebrown;
}
#header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 5px 20px;
    font-size: larger;
    background-color: #52ab98;
    color: white;
    border-bottom: 10px solid rgb(39, 24, 24);
    /* position:fixed;
    top:0px; */
}

.left-box{
    /* align-self: flex-start; */
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#photo{
    margin-right: 10px;
}
#photo img{
    border: 1px solid rgb(196, 240, 186);
    border-radius: 50%;
}

#name{
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    padding-bottom: 5px;
}

.right-box{
    /* align-self: flex-end; */
    /* text-align: right; */
    font-size: 15px;
    padding: 10px;
}

.right-box li{
    list-style: none;
}

.content{
    padding: 10px;
    background: #f2f2f2;
    /* background-color: rgb(244, 248, 253); */
    /* background-image: linear-gradient(rgb(244, 248, 253),white); */
}

.content-box{
    border-bottom: 3px solid saddlebrown;
    border-left: 3px solid saddlebrown;
    border-radius: 2px;
    margin-bottom: 10px;
    padding: 0px 0px 10px 10px;
}

.content-item{
    font-family: 'Inter', sans-serif;
}

.content-item h3{
    font-family: 'Bitter', serif;
}

@media only screen and (max-width: 800px) {
    .container{
        width: 100%;
        margin: 0;
    }

    #header{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .left-box{
        text-align: center;
    }

    #photo{
        display: none;
    }
  }